* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container-juego{
  line-height: 36px;
  min-height: 50vh;
  background: #333333;
}
.container-juego *{
  margin-top: 15px;
}
.text-white{
  color: #fff;
}
